<!-- realiza la peticion GET al servidor -->
<div class="input-container">
	<input type="text" placeholder="nombre" ng-model="controladorG.arepaObj.name">
</div>
<div class="input-container">
	<input type="text" placeholder="calorias" ng-model="controladorG.arepaObj.calories">
</div>
<div class="input-container">
	<input type="text" placeholder="region" ng-model="controladorG.arepaObj.region">
</div>
<div class="input-container">
	<input type="checkbox" id="hasMeatCheck" ng-model="controladorG.arepaObj.hasMeat">
	<label for="hasMeatCheck">¿Tiene Carne?</label>
</div>

<button ng-click="controladorG.create(controladorG.arepaObj)">Crear</button>

